/*
* CSS file that styles the main page
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 10px;
  max-width: 90%;
  height: 100%;
  margin: auto;
  padding: 2rem;
  background-color: black;
  color: white;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(-45deg, #000000, #181818, #252525);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.div-header {
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
  border-bottom: 2px solid #ff2b2b;
}

#github-ref {
  float: left;
  width: 3%;
  height: 3%;
  margin-right: 1%;
}

#discord-ref {
  float: left;
  width: 3%;
  height: 3%;
}

#title {
  text-transform: uppercase;
  font-size: large;
}

.div-main-left {
  position: absolute;
  height: 100%;
  width: 50%;
  float: left;
}

.div-main-right {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  border-left: 2px solid #ff2b2b;
}

.div-right {
  margin-top: 10%;
  margin-left: 10%;
}

.div-left {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 5%;
}

.div-select {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
}

.label-main {
  text-transform: uppercase;
  font-size: larger;
}

.button-main {
  padding: 0.8em 1.8em;
  border: 2px solid #ff2b2b;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  transition: .3s;
  z-index: 1;
  color: white;
}

.button-main::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ff2b2b;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button-main:hover::before {
  width: 105%;
}

.button-main:hover {
  color: black;
}

.select-main {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  width: 60%;
  border: 2px solid #ff2b2b;
  background-color: transparent;
  padding: 0.4em 1.0em;
  color: white;
}

.select-main option {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  width: 60%;
  background-color: #181818;
  color: white;
}

#band-field-set {
  border-color: #ff2b2b;
  display: inline-block;
}

#band-legend {
  text-transform: uppercase;
}

#start-scanning-btn {
  margin-right: 5%;
}

#start-scanning-clis-btn {
  margin-right: 5%;
}

#refresh-btn {
  margin-left: 5%;
}

#stop-attack-btn {
  margin-bottom: 5%;
  margin-right: 10%;
}

#info-label {
  font-size: large;
  text-transform: uppercase;
}

#terminal-wrapper {
  margin-top: 5%;
  margin-left: 10%;
  height: 30%;
  width: 55%;
  background-color: #000000;
  padding: 3em;
  border: 2px solid #ff2b2b;
  overflow-y: auto;
  overflow-x: auto;
}

#terminal-container {
  color: #ffffff;
  font-size: small;
  font-family: monospace;
}

#client-label {
  font-size: larger;
}

#client-div {
  position: absolute;
  border: 2px solid red;
  margin-top: 2%;
  margin-left: 0%;
  height: 15%;
  width: 60%;
  overflow-y: auto;
}

#client-div input {
  color: #ffffff !important;
}

#select-all-checkbox {
  margin-top: 2%;
}